@echo off

set perl_home=C:\path\to\perl
set PATH=%perl_home%\bin;%PATH%

set perl_opts=-I"%perl_home%\lib" -I"%~dp0libs\1_required\2_inc"

if "%include_html_parser%"=="1" (
	set perl_opts=%perl_opts% -I"%~dp0libs\2_optional\01. HTML parser\2_inc"
)
